body{
	font-family: 'Roboto Condensed', sans-serif;
	background: url(backg.jpg) center ;
}
 #main-container
 {
	 text-align: center;
	 margin-top: 23px;
	 }
 table{
	 margin: auto;
 }
 input{
	 font-size: 30px;	 
 }
 button{
	 font-size: 30px;
	 color:whitesmoke;
	 background: black;
	 width: 70px;
	 height: 60px;
	 border-radius: 100%;
	 margin: 6px;
 }